<?xml version="1.0"?>

<model>
  <name>Depth camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Gilbert Tanner</name>
    <email>gilbert.tanner@aau.at</email>
  </author>

  <maintainer email="gilbert.tanner@aau.at">Gilbert Tanner</maintainer>

  <description>
    Depth camera
  </description>
</model>