<?xml version="1.0"?>

<model>
  <name>Iris with 3d Lidar and PTZ camera</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Gilbert Tanner</name>
    <email>gilbert.tanner@aau.at</email>
  </author>

  <maintainer email="gilbert.tanner@aau.at">Gilbert Tanner</maintainer>

  <description>
    Combination of iris_with_gimbal from ardupilot_gazebo and iris_with_lidar from ardupilot_gz
  </description>
  <depend>
    <model>
      <uri>model://iris_with_ardupilot</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
